.gen/
_out/
dist/
edmx/
gen/
mta_archives/
node_modules/
target/

.DS_Store
*.log
*.mtar
connection.properties
default-env.json
.cdsrc-private.json
packages/messageBox
reviews/msg-box
reviews/db/test.db

*.openapi3.json
*.sqlite
*.db

**/@types
tutorial

# CAP cpapp
_out
*.db
*.sqlite
connection.properties
default-*.json
.cdsrc-private.json
gen/
node_modules/
target/

# Web IDE, App Studio
.che/
.gen/

# MTA
*_mta_build_tmp
*.mtar
mta_archives/

# Other
.DS_Store
*.orig
*.log

*.iml
*.flattened-pom.xml

# IDEs
# .vscode
# .idea


#UI5 Build Files
dist/
resources/
app/*/package-lock.json
